.slide_button_c {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.slide-arrow_c {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}

.prev-arrow_c {
  cursor: pointer;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 24px solid #4609c3;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-radius: 100%;
  z-index: 100;
}
.next-arrow_c {
  right: -10px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 24px solid #4609c3;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-radius: 100%;
  z-index: 100;
}

.next-arrow_c_t {
  right: -15px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 24px solid #4609c3;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-radius: 100%;
  z-index: 100;
}

.prev-arrow_c_t {
  cursor: pointer;
  left: -15px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 24px solid #4609c3;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-radius: 100%;
  z-index: 100;
}

@media (min-width: 420px) {
  .prev-arrow_c {
    cursor: pointer;
    left: 10px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 24px solid #4609c3;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-radius: 100%;
    z-index: 100;
  }
  .next-arrow_c {
    right: 10px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 24px solid #4609c3;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-radius: 100%;
    z-index: 100;
  }

  .next-arrow_c_t {
    right: 0px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 24px solid #4609c3;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-radius: 100%;
    z-index: 100;
  }

  .prev-arrow_c_t {
    cursor: pointer;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 24px solid #4609c3;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-radius: 100%;
    z-index: 100;
  }
}

.prev-arrow_c_games {
  cursor: pointer;
  left: -35px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 24px solid #4609c3;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-radius: 100%;
  z-index: 100;
}
.next-arrow_c_games {
  right: -35px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 24px solid #4609c3;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-radius: 100%;
  z-index: 100;
}
