.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.btn {
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 54px;
  line-height: 54px;
  padding: 0 25px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "Russo One", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background-size: 200% auto;
  background-image: -webkit-linear-gradient(
    left,
    #0a325c 0%,
    #eb6612 51%,
    #0a325c
  );
  background-image: linear-gradient(to right, #0a325c 0%, #eb6612 51%, #0a325c);
  border: 0;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.btn:hover {
  background-position: right center;
}

.btn-secondary {
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 54px;
  line-height: 54px;
  padding: 0 25px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "Russo One", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background-size: 200% auto;
  border: 0;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  z-index: 2;
  border: 2px solid #0a325c;
  background-color: #0a325c;
  transition: all 1s ease 0s;
}

.btn-secondary:hover {
  background: transparent;
  background-image: linear-gradient(
    to left,
    #0a325c,
    #5c3b7a,
    #a83a7a,
    #e2465c,
    #f77726
  );
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.glowc_text {
  color: #eb6612;
  animation-name: head_glow;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes head_glow {
  50% {
    text-shadow: 0px 0px 8px #eb6612;
  }
}

.logos {
  aspect-ratio: 3.2/2;
  object-fit: contain;
}
