@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Silkscreen&display=swap");

@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOwcmJvLuL9BLT.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOz8mJvLuL9A.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: Staatliches;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.btnc {
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  height: 54px;
  line-height: 54px;
  padding: 0 25px;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  font-family: "Russo One", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  background-size: 200% auto;
  cursor: pointer;
  background-image: -webkit-linear-gradient(
    left,
    #0a325c 0%,
    #eb6612 51%,
    #0a325c
  );
  background-image: linear-gradient(to right, #0a325c 0%, #eb6612 51%, #0a325c);
  border: 0;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  z-index: 2;
  transition: all 0.5s ease 0s;
}

.btnc:hover {
  background-position: right center;
}

.btnc-secondary {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: normal;
  padding: 8px 12px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  background-color: none;
  border: 3px #eb6612 solid;
  z-index: 2;
}
.btnc-secondary::before {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eb6612;
  z-index: -1;
  transition: height 200ms ease;
}
.btnc-secondary:hover::before {
  height: 100%;
}

.glowc_text {
  color: #eb6612;
  animation-name: head_glow;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes head_glow {
  50% {
    text-shadow: 0px 0px 8px #eb6612;
  }
}

.logos {
  aspect-ratio: 3.2/2;
  object-fit: contain;
}

.rcard {
  background: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
}

.rcard .content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #171717;
  z-index: 1;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content::before {
  opacity: 0;
  transition: opacity 300ms;
  content: " ";
  display: block;
  background: white;
  width: 50px;
  height: 50px;
  position: absolute;
  filter: blur(50px);
}

.rcard:hover .content::before {
  opacity: 1;
}

.rcard::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 120px;
  height: 360px;
  background: linear-gradient(
    90deg,
    transparent,
    #ff2288,
    #387ef0,
    transparent
  );
  transition: opacity 300ms;
  animation: rotation_9018 3000ms infinite linear;
  animation-play-state: paused;
}

.rcard:hover::before {
  opacity: 1;
  animation-play-state: running;
}

.rcard::after {
  position: absolute;
  content: " ";
  display: block;
  width: 190px;
  height: 254px;
  background: #17171733;
  backdrop-filter: blur(50px);
}

@keyframes rotation_9018 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
